body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

* {
    font-family: 'Karla', sans-serif;
}

::-webkit-scrollbar {
    width: 0px;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.navbar {
    background: linear-gradient(to right, #672280 1.18%, #A626D3 100%);
}

.logo-img {
    width: 50px;
    margin-inline-end: 10px;
}

.logo-text {
    font-size: x-large;
    font-weight: bold;
    color: white;
}